
<!-- <app-gallery *ngIf="page === 'gallery'"><h1>This is the contact page.</h1></app-gallery> :::H1-EST KIIRJA AZ NG-CONTENT -->
<ng-content>
</ng-content>
<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Contacts</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p><mat-icon>call</mat-icon>+36 30 123 4567</p>
        <p><mat-icon>email</mat-icon>b.laura0269@gmail.com</p>
        <p><mat-icon>share</mat-icon>Facebook: Bertók Laura</p>
    </mat-card-content>
  </mat-card>
</div>
