<div id="app">
  <mat-toolbar>
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav(sidenav)">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>NOTEPAD</div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="navigacios-gombok">
        <li *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
        <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Logout</a></li>
        <li><a *ngIf="!loggedInUser" routerLink="/signup">Register</a></li>
        <li><a *ngIf="loggedInUser" routerLink="/main">Main</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <app-menu (selectPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

